{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.primeirocontainer{
    width:auto;
    height: 60px;
    background-color: gray;

    display: flex;
    flex-diretion: row;
    justify-content: center;
    align-items: center;
}

.primeirobox{
    color:white
    
}

.container{
    width:auto;
    height: 30px;
    background-color: gray;
    text-align: center;

    display: flex;
    flex-diretion: row;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 10px;
}

.containermain1{
    width:auto;
    height: 200px;
    display:flex;
    flex-diretion: column;

    background-color: aliceblue;
}

.containermain2{
    width:auto;
    height: 200px;
    display:flex;
    flex-diretion: column;
    background-color: black;

}
